---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Home">
  <div class="relative h-screen flex items-center justify-center">
    <a href="/gallery" class="block">
      <h1 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-40 mb-8 font-tagesschrift breathing-text glow-text cursor-pointer transition hover:scale-110">
        WELCOME TO ART GALAXY!
      </h1>
    </a>
  </div>
</BaseLayout>
