---
---
<nav class="bg-neutral-950 text-white px-4 py-6 flex items-center justify-between">
    <div class="text-lg font-bold">
       <a href="/"><img src="/logo.png" alt="Logo" class="w-12 h-12 rounded-full transition-transform duration-300 hover:scale-110" /> </a>
    </div>
    <ul class="flex gap-4 text-[1.25rem]">
      <li><a href="/gallery" class="px-3 py-1 rounded-xl transition duration-200 hover:bg-white hover:text-black">Gallery</a></li>
      <li><a href="/about" class="px-3 py-1 rounded-xl transition duration-200 hover:bg-white hover:text-black">About</a></li>
      <li><a href="/contact" class="px-3 py-1 rounded-xl transition duration-200 hover:bg-white hover:text-black">Contact</a></li>
    </ul>
  </nav>